# Adım Adım Pandas Egzersizleri

### 1. Adım Kütüphaneleri Tanımla

In [1]:
import pandas as pd
import numpy as np

### 2. Adım Data'yı import et ve ilk 10 değeri gözlemle

In [2]:
data = pd.read_csv("car_price.csv")
data.head(10)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.000
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.000
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.000
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.000
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.000
5,6,2,audi fox,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250.000
6,7,1,audi 100ls,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710.000
7,8,1,audi 5000,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920.000
8,9,1,audi 4000,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875.000
9,10,0,audi 5000s (diesel),gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,17859.167

### 3. Adım Veri Kümesindeki Gözlem Sayısı Nedir ?

In [3]:
data.shape[0]

205

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

### 4. Adım Veri Setindeki Sütun Sayısı Nedir ?

In [5]:
data.shape[1]

26

### 5. Adım Veri Setindeki Sütunların İsimleri Nelerdir ?

In [6]:
data.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

### 6. Adım Veri Setinin İndex'leri Nasıl İlerliyor( Kaçta Başlayıp Kaçta bitiyor Adım sırası ne ?)

In [7]:
data.index

RangeIndex(start=0, stop=205, step=1)

### 7. Adım En Pahalı Aracın Fiyatı ?

In [8]:
data["price"].sort_values(ascending=False)

74     45400.0
16     41315.0
73     40960.0
128    37028.0
17     36880.0
        ...
76      5389.0
150     5348.0
50      5195.0
18      5151.0
138     5118.0
Name: price, Length: 205, dtype: float64

### 8. Adım En Pahalı Aracın Tüm Özellikleri Neler ?

In [9]:
data.groupby(["price","horsepower"]).agg(["min","max"]).sort_values(by="price",ascending=False)

                   car_ID      symboling                              CarName  \
                      min  max       min max                              min
price   horsepower
45400.0 184            75   75         1   1  buick regal sport coupe (turbo)
41315.0 182            17   17         0   0                           bmw x5
40960.0 184            74   74         0   0            buick century special
37028.0 207           129  129         3   3                   porsche boxter
36880.0 182            18   18         0   0                           bmw x3
...                   ...  ...       ...  ..                              ...
5389.0  68             77   77         2   2                mitsubishi mirage
5348.0  62            151  151         1   1            toyota corona mark ii
5195.0  68             51   51         1   1                        maxda rx3
5151.0  48             19   19         2   2                 chevrolet impala
5118.0  69            139  139         2   2                           subaru

                                                    fueltype      aspiration  \
                                                max      min  max        min
price   horsepower
45400.0 184         buick regal sport coupe (turbo)      gas  gas        std
41315.0 182                                  bmw x5      gas  gas        std
40960.0 184                   buick century special      gas  gas        std
37028.0 207                          porsche boxter      gas  gas        std
36880.0 182                                  bmw x3      gas  gas        std
...                                             ...      ...  ...        ...
5389.0  68                        mitsubishi mirage      gas  gas        std
5348.0  62                    toyota corona mark ii      gas  gas        std
5195.0  68                                maxda rx3      gas  gas        std
5151.0  48                         chevrolet impala      gas  gas        std
5118.0  69                                   subaru      gas  gas        std

                         ... stroke       compressionratio      peakrpm        \
                    max  ...    min   max              min  max     min   max
price   horsepower       ...
45400.0 184         std  ...   3.35  3.35              8.0  8.0    4500  4500
41315.0 182         std  ...   3.39  3.39              8.0  8.0    5400  5400
40960.0 184         std  ...   3.35  3.35              8.0  8.0    4500  4500
37028.0 207         std  ...   2.90  2.90              9.5  9.5    5900  5900
36880.0 182         std  ...   3.39  3.39              8.0  8.0    5400  5400
...                 ...  ...    ...   ...              ...  ...     ...   ...
5389.0  68          std  ...   3.23  3.23              9.4  9.4    5500  5500
5348.0  62          std  ...   3.03  3.03              9.0  9.0    4800  4800
5195.0  68          std  ...   3.15  3.15              9.0  9.0    5000  5000
5151.0  48          std  ...   3.03  3.03              9.5  9.5    5100  5100
5118.0  69          std  ...   2.36  2.36              9.0  9.0    4900  4900

                   citympg     highwaympg
                       min max        min max
price   horsepower
45400.0 184             14  14         16  16
41315.0 182             16  16         22  22
40960.0 184             14  14         16  16
37028.0 207             17  17         25  25
36880.0 182             15  15         20  20
...                    ...  ..        ...  ..
5389.0  68              37  37         41  41
5348.0  62              35  35         39  39
5195.0  68              30  30         31  31
5151.0  48              47  47         53  53
5118.0  69              31  31         36  36

[195 rows x 48 columns]

### 9. Adım En çok hangi araç modeli bulunmaktadır ?

In [10]:
data["CarName"].value_counts().to_frame()

                                 CarName
toyota corona                          6
toyota corolla                         6
peugeot 504                            6
subaru dl                              4
mitsubishi outlander                   3
...                                  ...
dodge d200                             1
buick regal sport coupe (turbo)        1
toyota carina                          1
vw dasher                              1
toyota corona mark ii                  1

[147 rows x 1 columns]

### 10. Adım Araçları Fiyat ve Motor Size Göre Grupla

In [25]:
data.groupby(["enginesize","price"])["CarName"].value_counts().to_frame()

                                                    CarName
enginesize price   CarName
61         5151.0  chevrolet impala                       1
70         10945.0 mazda 626                              1
           11845.0 mazda glc                              1
           13645.0 mazda rx-7 gs                          1
79         5399.0  honda civic                            1
...                                                     ...
258        32250.0 jaguar xj                              1
           35550.0 jaguar xf                              1
304        45400.0 buick regal sport coupe (turbo)        1
308        40960.0 buick century special                  1
326        36000.0 jaguar xk                              1

[205 rows x 1 columns]